@using Newtonsoft.Json;
@using miniOrange.saml;
@model miniOrange.saml.Model.AppConfigModel;

@{
    Model.PageURL = Model.PageURL.Substring(0, Model.PageURL.IndexOf("?"));
    Dictionary<string, string> appsdict = null;
    Dictionary<string, string> newappsdict = null;
    Dictionary<string, string> idpconfig = null;
    string key_ser_list = "empty";
    if (!String.IsNullOrEmpty(Model.AppList))
    {
        appsdict = JsonConvert.DeserializeObject<Dictionary<string, string>>(Model.AppList);
        List<string> keyList = new List<string>(appsdict.Keys);
        key_ser_list = JsonConvert.SerializeObject(keyList);
    }
    string idp_key = "";

    if (String.IsNullOrEmpty(Model.NewList))
    {
        if (appsdict != null)
        {
            foreach (var app in appsdict)
            {
                idp_key = "appid";

                if (app.Key == Model.Appid)
                {

                    string appconfig = app.Value;
                    if (!String.IsNullOrEmpty(appconfig))
                    {
                        idpconfig = JsonConvert.DeserializeObject<Dictionary<string, string>>(appconfig);
                    }
                }
            }
        }
    }
    else
    {
        newappsdict = JsonConvert.DeserializeObject<Dictionary<string, string>>(Model.NewList);
        if (newappsdict != null)
        {
            idp_key = "newappid";
            foreach (var app in newappsdict)
            {
                if (app.Key == Model.Appid)
                {
                    string appconfig = app.Value;
                    if (!String.IsNullOrEmpty(appconfig))
                    {
                        idpconfig = JsonConvert.DeserializeObject<Dictionary<string, string>>(appconfig);
                    }
                }
            }
        }
    }

    
    string app_Endpoint_after_login = "";
    if (idpconfig != null && idpconfig.ContainsKey("app_endpoint_after_login"))
        app_Endpoint_after_login = idpconfig["app_endpoint_after_login"];

}

<html>
<head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" />
    <link href='https://unpkg.com/boxicons@2.1.1/css/boxicons.min.css' rel='stylesheet'>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/solid.min.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="~/miniOrangeContent/mo_maincss.css" asp-append-version="true" />
    <title></title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" type="text/css" href="~/miniOrangeContent/mo_maincss.css" asp-append-version="true" />
    <style>
        #forgot-password-link 
        {
            text-align: center;
            color: #385898;
            cursor: pointer;
        }
</style>

    <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js" type="text/javascript"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>

    <script>
        $(document).ready(function () {
            $("#publickeyfile").on("change", function (e) {
                var files = e.target.files;
                var appbaseurl = $("#appbaseurl").val();
                console.log("baseurl: " + appbaseurl);
                if (files.length > 0) {
                    var fileData = new FormData();
                    for (var x = 0; x < files.length; x++) {
                        fileData.append("file" + x, files[x]);
                    }
                    $.ajax({
                        type: "POST",
                        url: appbaseurl + "/?ssoaction=config&option=Uploadcrt",
                        contentType: false,
                        processData: false,
                        data: fileData,
                        success: function (result) {
                            console.log("Success");
                        },
                        error: function (status) {
                            console.log("Failed! Status: " + status);
                        }
                    });
                }
            });
        });

        $(document).ready(function () {
            $("#privatekeyfile").on("change", function (e) {
                var files = e.target.files;
                var appbaseurl = $("#appbaseurl").val();
                console.log("baseurl: " + appbaseurl);
                if (files.length > 0) {
                    var fileData = new FormData();
                    for (var x = 0; x < files.length; x++) {
                        fileData.append("file" + x, files[x]);
                    }
                    $.ajax({
                        type: "POST",
                        url: appbaseurl + "/?ssoaction=config&option=Uploadpfx",
                        contentType: false,
                        processData: false,
                        data: fileData,
                        success: function (result) {
                            console.log("Success");
                        },
                        error: function (status) {
                            console.log("Failed! Status: " + status);
                        }
                    });
                }
            });
        });
    </script>

</head>
<body>
    <header class="app-header" style="padding-top:1em; width:102%;display:flex;justify-content:space-between">
        <div style="margin-left: 1em;">
            <h3 style="font-weight:normal;"><img src="https://plugins.miniorange.com/wp-content/uploads/2022/05/dnn-miniorange-guide-logo.webp" style="width:6%; margin-right: 0.375em;"></img>miniOrange ASP.NET SAML SSO Middleware v7.0.2</h3>
        </div>
        <div class="drpdwn" style="margin-right:1%">
            <button class="dropbtn">
                <div style="display:flex;">
                    <i class="fa fa-user fa-lg" style="margin-top:2%;"></i>
                    <span style="margin-left: 10px;"> @Model.AdminEmail</span>
                </div>
            </button>
            <div class="drpdwn-content">
                <a href="@Model.Baseurl?ssoaction=config&option=logout">Logout</a>
                <a href="@Model.Baseurl?ssoaction=config&tab=account">Account Setup</a>
            </div>
        </div>
    </header>

    <div class="app-sidebar__overlay" data-toggle="sidebar"></div>
    <aside class="app-sidebar">
        <div class="app-sidebar__user" style="padding-left: 40px">
            <div style="margin-left: 15px;">
                <p class="app-sidebar__user-name">ASP.NET SAML</p>
                <p class="app-sidebar__user-designation">Middleware v7.0.2</p>
            </div>
        </div>
        <ul class="app-menu">
            <li><a class="app-menu__item" href="@Model.PageURL?ssoaction=config&tab=appconfig&@idp_key=@Model.Appid&multitenant=@Model.isMultiTenant"><i class="app-menu__icon fa fa-cogs"></i><span class="app-menu__label">Identity Provider Settings</span></a></li>
            <li><a class="app-menu__item" href="@Model.Baseurl?ssoaction=config&tab=attributeandrolemapping&appid=@Model.Appid&multitenant=@Model.isMultiTenant"><i class="app-menu__icon fa fa-user-plus"></i><span class="app-menu__label">Attribute/Role Mapping</span></a></li>
            <li><a class="app-menu__item active" href="@Model.Baseurl?ssoaction=config&tab=loginsetup&appid=@Model.Appid&multitenant=@Model.isMultiTenant"><i class="app-menu__icon fa fa-key"></i><span class="app-menu__label">Login Settings</span></a></li>
            <li><a class="app-menu__item" href="@Model.Baseurl?ssoaction=config&tab=integrationcode&appid=@Model.Appid&multitenant=@Model.isMultiTenant"><i class="app-menu__icon bx bx-code-alt"></i><span class="app-menu__label">Integration Steps</span></a></li>
            <li><a class="app-menu__item" href="@Model.Baseurl?ssoaction=config&tab=troubleshoot&appid=@Model.Appid&multitenant=@Model.isMultiTenant"><i class="app-menu__icon bx bxs-grid"></i><span class="app-menu__label">Troubleshooting</span></a></li>
            <li><a class="app-menu__item" href="https://faq.miniorange.com/kb/asp-net/" target="_blank"><i class="app-menu__icon bx bx-help-circle"></i><span class="app-menu__label">FAQs</span><i class="app-menu__icon bx bx-link-external"></i></a></li>
        </ul>
    </aside>

    <main class="app-content" style="margin-left: 220px;">
        <div class="app-title">
            <div>
                 <h1><a href="@Model.Baseurl?ssoaction=config&tab=applicationlist"><div data-toggle = "tooltip" title = "Back to Application List" style="margin-right: 15px; font-weight: bolder; color: #0085ba;" class="bx bx-left-arrow-circle"></div></a>Login Settings</h1>
            </div>
            <ul class="app-breadcrumb breadcrumb">
                <li class="breadcrumb-item"><i class="fa fa-home fa-lg"></i></li>
                <li class="breadcrumb-item"><a href="#">Login Settings</a></li>
            </ul>
        </div>
        <div class="row">
        </div>
        <div style="display:flex; gap:1em;">
            <div id="login_content_tile" class="tile col-md-6">
                <div id="auth_method">
                    <h2 style="font-size:20px; padding-bottom: 0.25em;">Supported Authentication method and Redirections: </h2>
                    <div id="anr_tab" class="hovertext1 trial-border" data-hover="The features listed below are available in the Premium+ version of the module. To find out more, kindly click the crown icon.">
                        <a class="prem tags" style="position: absolute; right: 6px; font-size:16; margin-top: -14px; color: goldenrod;" target="_blank" href="https://plugins.miniorange.com/asp-dot-net-saml-2-0-single-sign-sso-connector#plans"><img src="https://i.ibb.co/nzFYw3v/crown-1.png" style="width:40px; height:40px;"></a>
                        <fieldset>
                            <h2 style="font-size:20px; padding-bottom: 0.25em;">Select Authentication Method: </h2>
                            <div>
                                <input type="radio" id="huey" name="session" value="Session Based" checked disabled>
                                <label for="huey">Session based Login</label>
                                <p style="font-size: 12px;"><i>Selecting this will store the user attributes in session.</i></p>
                            </div>

                            <div>
                                <input type="radio" id="dewey" name="header" value="Header Bases" disabled>
                                <label for="dewey">Header based Login</label>
                                <p style="font-size: 12px;"><i>Selecting this will help you authenticating user via window authentication</i></p>
                            </div>

                            <div>
                                <input type="radio" id="louie" name="forms" value="Forms Authentication" disabled>
                                <label for="louie">Forms Authentication</label>
                                <p style="font-size: 12px;"><i>Selecting this will store the user attributes in claims.</i></p>
                            </div>
                        </fieldset>
                    </div>
                </div>
                <hr />
                <div id="prior_redirections" class="hovertext1 trial-border" data-hover="The features listed below are available in the Premium+ version of the module. To find out more, kindly click the crown icon.">
                    <a class="prem tags" style="position: absolute; right: 6px; font-size:16; margin-top: -14px; color: goldenrod;" target="_blank" href="https://plugins.miniorange.com/asp-dot-net-saml-2-0-single-sign-sso-connector#plans"><img src="https://i.ibb.co/nzFYw3v/crown-1.png" style="width:40px; height:40px;"></a>
                    <h2 style="font-size:20px; padding-bottom: 0.25em;">Prior SSO Redirections: </h2>
                    <div id="prior_tab">
                        <div id="autoredirect" style="display:flex; gap:1em;">
                            <p><b>A)</b></p>
                            <div>
                                <label class="switch" style="">
                                    <input type="checkbox" value="autoredirect" name="autoredirect" disabled />
                                    <div id="check1"></div>
                                </label>
                            </div>
                            <div>
                                <label for="autoredirecttoidp">Auto Redirect to IdP</label>
                            </div>
                        </div>
                    </div>
                    <div id="modify_tab">
                        <div id="autoredirect">
                            <span><b>B)  </b></span>
                            <label for="autoredirecttoidp">Modify SSO request: </label>
                            <div style="display:flex;">
                                <input type="text" class="form-control" id="parameter_name" name="parameter_name" placeholder="Parameter Name" style="text-align: center" disabled />
                                <span>&nbsp;&nbsp;&nbsp;</span>
                                <input type="text" class="form-control" id="parameter_value" name="parameter_value" placeholder="Parameter Value" style="text-align: center" disabled />
                                <span>&nbsp;&nbsp;&nbsp;</span>
                                <button class="btn btn-primary" data-role="add" style="margin-top:6px; height:39px;" disabled>
                                    <span class="glyphicon glyphicon-plus">+</span>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
                <hr />

                <div>
                    <h2 style="font-size:20px; padding-bottom: 0.25em;">After SSO Redirections:</h2>
                    <form id="form1" action="@Model.Baseurl?ssoaction=config&tab=loginsetup&appid=@Model.Appid" method="post">
                        @Html.AntiForgeryToken()
                        <input type="hidden" name="appconfig" value="true">
                        <input type="hidden" name="idpname" value=@Model.Appid />
                        <div class="form-group">
                            <label for="app_endpoint">Login Redirection: </label><br><p style="font-size: 12px; padding: 2px;">(User will be redirected to the below configured Endpoint url after successful login/sso.)</p>
                            <fieldset style="display: flex; gap: 1.5em; align-items: center;">
                                <input type="hidden" name="isMultitenant" value="@Model.isMultiTenant"/>
                                <input type="text" class="form-inline" name="app_endpoint_after_login" id="app_endpoint" placeholder="Endpoint URL after Login" value="@app_Endpoint_after_login" />
                                <input type ="submit" value ="Save" class="btn btn-primary" style="height:2.75em; margin-top:-8px;"/>
                            </fieldset>
                            </div>

                        </form>
                            <div class="hovertext1 trial-border form-group" data-hover="The features listed below are available in the Premium+ version of the module. To find out more, kindly click the crown icon.">
                                <a class="prem tags" style="position: absolute; right: 6px; font-size:16; margin-top: -14px; color: goldenrod;" target="_blank" href="https://plugins.miniorange.com/asp-dot-net-saml-2-0-single-sign-sso-connector#plans"><img src="https://i.ibb.co/nzFYw3v/crown-1.png" style="width:40px; height:40px;"></a>
                                <label for="app_endpoint">Logout Redirection:</label><br><p style="font-size: 12px; padding: 2px;">(User will be redirected to the below configured Endpoint url after successful logout.)</p>
                                <input type="text" class="form-inline" name="app_endpoint_after_logout" placeholder="Endpoint URL after Logout" disabled>
                    </div>

                </div>

            </div>
            <div id="second_flex" class="col-md-6" style="padding-left:0px;">
                <div id="cert_content_tile" class="tile trial-border hovertext1" data-hover="The features listed below are available in the Premium+ version of the module. To find out more, kindly click the crown icon.">
                    <a class="prem tags" style="position: absolute; right: 6px; font-size:16; margin-top: -14px; color: goldenrod;" target="_blank" href="https://plugins.miniorange.com/asp-dot-net-saml-2-0-single-sign-sso-connector#plans"><img src="https://i.ibb.co/nzFYw3v/crown-1.png" style="width:40px; height:40px;"></a>
                    <h2 style="font-size:20px; padding-bottom: 0.25em;">Upload Custom Certificate: </h2>
                    <div id="cert_tab">
                        <label for="publickeyfile"> Public Key (.crt)</label>
                        <input type="file" class="form-inline" name="publickeyfile" id="publickeyfile" style="margin-block: 0.6em; background:#a8d4ea40;">
                        <label for="privatekeyfile"> Private Key (.pfx)</label>
                        <input type="file" class="form-inline" name="privatekeyfile" id="privatekeyfile" style="margin-block: 0.6em; background:#a8d4ea40;">
                        <input type="hidden" name="spconfig" value="true">
                        <label for="privatekeyfilepassword"> Private key password</label>
                        <input type="text" class="form-inline" name="privatekeyfilepassword" id="privatekeyfilepassword" placeholder="Private key file password" disabled>
                        <input type="submit" value="Save" class="btn btn-primary" disabled>
                    </div>
                </div>
                <div id="custom_urls" class="tile trial-border hovertext1" data-hover="The features listed below are available in the Premium+ version of the module. To find out more, kindly click the crown icon.">
                    <a class="prem tags" style="position: absolute; right: 6px; font-size:16; margin-top: -14px; color: goldenrod;" target="_blank" href="https://plugins.miniorange.com/asp-dot-net-saml-2-0-single-sign-sso-connector#plans"><img src="https://i.ibb.co/nzFYw3v/crown-1.png" style="width:40px; height:40px;"></a>
                    <h2 style="font-size:20px; padding-bottom: 0.25em;">Custom URLs: </h2>
                    <div id="custom_url_content">
                        <form id="form1" method="post">
                            @Html.AntiForgeryToken()
                            <input type="hidden" name="appconfig" value="true"> <input type="hidden" name="idpname" value="@Model.Appid"/>
                            <div class="form-group">
                                    <label for="app_endpoint">Custom Login URL: </label><br><p style="font-size: 12px; padding: 2px;">(SSO login will be initated using this configured custom link)</p>
                                    <input type="text" class="form-inline" name="custom_login_url" id="custom_login_url" placeholder="Custom Login URL" disabled>
                            </div>
                            <div class="form-group">
                                <label for="app_endpoint">Custom Logout URL:</label><br><p style="font-size: 12px; padding: 2px;">(SSO Logout will be initated using this configured custom link)</p>
                                <input type="text" class="form-inline" name="custom_logout_url" placeholder="Custom Logout URL" disabled>
                            </div>
                            <input type="submit" value="Save" class="btn btn-primary" disabled>
                        </form>
                    </div>
                </div>
            </div>


        </div>
    </main>


</body>
</html>
